<html>
<!--grey dark => rgb(22, 24, 28); -->
<!-- grey => rgb(113, 118, 123); -->
<!-- blue => rgb(29, 155, 240); -->
<head>
    <title>Twitter</title>
</head>
<style>
    ul li a{
        text-transform: none;
    }

    ul li{
        list-style: none;
    }
</style>

<body style="font-family: Georgia, 'Times New Roman', Times, serif; background-color: black; color: white;">
    <div style="width:1000px; margin:0 auto; ">
        <div style="border-radius: 10px;width:1000px; text-align: center;padding: 10px; margin:0 auto; background-color: rgb(29, 155, 240); color:white; font-size:30px; clear:both;font-family: 'Franklin Gothic Medium','Arial Narrow',Arial, sans-serif; padding-left:10px">
            Twitter
        </div>
        <div style="width:1000px; padding: 10px; display: flex; justify-content: space-around; align-items: center;">
            <div style="width:50px; height: 50px; border:2px solid grey; color: rgb(29, 155, 240);">Image will be here</div>
            <form action="/search_data" method="get" style="width:300px; ">
                <input type="text" style="background-color: black; border: 1px solid rgb(113, 118, 123); color: white; padding: 10px; border-radius: 10px;" name="search" placeholder="Search Username"/>
                <input type="submit" value="Go" style="border-radius: 10px; border: 1px solid rgb(113, 118, 123); font-weight: bold; padding: 10px ; background-color: rgb(29, 155, 240); cursor: pointer; color: white;"/>
            </form> 
            <h5 style="color: rgb(29, 155, 240);"><%=msg%></h5>
        </div>
       
        <div style="width:1000px; height: auto;   clear:both;">
            
                <ul style="width:150px;border-radius: 10px; padding-top: 10px; padding-bottom: 10px; border: 1px solid rgb(113, 118, 123); background-color: rgb(22, 24, 28); float:left; display: flex; flex-direction: column; justify-content: center;">
                    <li style="padding: 6px; margin-top: 10px;"><a style="text-align: center; border-radius: 10px;  background-color: white; color: rgb(22, 24, 28); text-decoration: none; padding: 6px; font-weight: bold;" href="/home">Home</a></li>
                    <li style="padding: 6px; margin-top: 10px;"><a style="text-align: center; border-radius: 10px;  background-color: white; color: rgb(22, 24, 28); text-decoration: none; padding: 6px; font-weight: bold;" href="/uprofile">Profile</a></li>
                    <li style="padding: 6px; margin-top: 10px;"><a style="text-align: center; border-radius: 10px;  background-color: white; color: rgb(22, 24, 28); text-decoration: none; padding: 6px; font-weight: bold;" href="/followers">Followers</a></li>
                    <li style="padding: 6px; margin-top: 10px;"><a style="text-align: center; border-radius: 10px;  background-color: white; color: rgb(22, 24, 28); text-decoration: none; padding: 6px; font-weight: bold;" href="/following">Following</a></li>
                    <li style="padding: 6px; margin-top: 10px;"><a style="text-align: center; border-radius: 10px;  background-color: white; color: rgb(22, 24, 28); text-decoration: none; padding: 6px; font-weight: bold;" href="/logout">Logout</a></li>
                </ul>
            
<!--End of div left menu-->
<!--div for tweet box-->
<div style="padding: 1px;">
    